<!DOCTYPE html>
<html>
<head>
	<title>Bloggy: HomePage</title>
	
</head>
<body style="background-color: #203859;">
	<div id="header">
	<div style="width: 500px; "><%=image_tag "Logomakr_7FRJwQ" %></div>
	
	<div id="menu">
		<a href='/users/<%= @user.id %>'><div class="menuIcons"><%=image_tag "profile.png" %></div></a>
		<a href='/users/<%= @user.id %>/edit'><div class="menuIcons"><%=image_tag "settings.png" %></div></a>
	</div>
	</div>
	<div id="feedPoster">
		<h4 style="color:red"> <%= flash[:notice] if flash[:notice] %> </h4>
		<div id="hi">
			<h1>Welcome, <%= @user.fname %>!</h1>
			<form  method="post" action='/posts' style="color: black">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<div>
					<input class="posterBox" type="text" name="ptitle" placeholder="Title..." required>
				</div>
				<div>
				<textarea class="posterBox" name="post" id="postBox" maxlength="150" placeholder="Type your post here... " required></textarea>
				</div>
	 			<button type=submit id="signin" style="color: black;">Post</button>
			</form>
		</div>
		
		<h1>Timeline:</h1>
		<div id="userPosts">

			<% (Post.all).reverse.each do |x| %>
			<% @y = User.where(id: x.user_id).first %>
			<% @count = Comment.where(post_id: x.id).length %>
				<div style="background-color: beige; border: 1px solid grey; width: 100%; color: black; text-align: left">
					<div style="display: inline-block; position: relative; left: 10px; width:170px; margin-top: 10px;">
						<%=image_tag "message1.png" %>
						<a href="/users/<%= @y.id %>"><h3><%= @y.fname %> <%= @y.lname %></h3></a>
					</div>
					<div style="display: inline-block; position: relative; left: 20px; top: 10px;vertical-align: top; width: 350px">
				  		<h4><%= x.title %></h4>
				  		<p><%= x.text %></p>
				  		<a href="/posts/<%= x.id %>" style="display: inline-block; margin-left: 10px;"><p><%= @count %> comment(s)</p></a>
				  		<p style="display: inline-block;  margin-left: 10px;"><%= x.posted_at %></p>
			  		</div>
			  	</div>
			<% end %>
		</div>	
	</div>
	
</body>
</html>